@using Admin.Planning.Components
@using Havesh.Model.Model
@using HaveshApp.Admin.DailyJV.Components
@using System.ComponentModel
<style>
	.selected {
		background-color: #505050 !important;
	}

	.selected > td {
		color: white !important;
	}
</style>
<MudToolBar>
	<MudCheckBox @bind-Checked="Detailed">نمایش جزئیات پرداخت</MudCheckBox>
</MudToolBar>
<MudTable @ref="_studentTables" Items="@studentHisory.OrderByDescending(x=>x.TermId)"
		  RowsPerPage="100" RowClassFunc="RowClassFunc" Hover="true" Dense="true">
	<HeaderContent>
		<MudTh>زبان آموز</MudTh>
		<MudTh>ترم</MudTh>
		<MudTh>مدرس</MudTh>
		<MudTh>سطح</MudTh>
		<MudTh>ساعت برگزاری</MudTh>
		<MudTh>حساب</MudTh>
		<MudTh>پرداخت</MudTh>

	</HeaderContent>
	<RowTemplate>
		<MudTd>@Student.FullName</MudTd>
			<MudTd DataLabel="ترم">
				<MudChip Label="true" OnClick="() => RaiseOnTermChangedClick(context.Term)">@context.Term.TermName</MudChip>
			</MudTd>
			<MudTd DataLabel="نام استاد">@context.Teacher.FullName</MudTd>
			<MudTd DataLabel="سطح">@context.Level.LevelName</MudTd>
			<MudTd>
				@if (Detailed)
				{
					<StudentPaymentStatusForTimetableComponent ShowTution="ShowTutionPriceInDetailes" Student="Student" TimeTable="context" />
				}
		</MudTd>
		<MudTd DataLabel="برنامه کلاسی">@context.Schedule.Title</MudTd>
			<MudTd>
				<MudButton Variant="Variant.Filled" OnClick="()=>RowDetaileClick(context)">جزئیات پرداخت ترم</MudButton>
			</MudTd>
		</RowTemplate>
		<ChildRowContent>
			@if (context.Selected)
		{
			<MudTr>
				<td colspan="6">

					<MudCard Outlined="true" Class="m-3 p-3" Style="background-color:#808080">
						<MudCardContent>
							<DailyJvRecordListComponent ShowRecordId="true" SelectedTerm="context.Term" Student="Student" />
						</MudCardContent>
					</MudCard>
				</td>
			</MudTr>
		}
	</ChildRowContent>
</MudTable>