@using Admin.Planning.Components
@using Havesh.Model.Model
@using HaveshApp.Admin.DailyJV.Components
@using System.ComponentModel

@code {
	private void RaiseOnTermChangedClick(ShokouhPardisTermClass term)
	{
		OnTermChanged.InvokeAsync(term);
	}

	private string RowClassFunc(ShokouhPardisTimeTable timeTable, int rowNumber)
	{
		return CurrentTerm.Id == timeTable.TermId ? "selected" : string.Empty;
	}

	private void RowDetaileClick(ShokouhPardisTimeTable timeTable)
	{
		timeTable.Selected = !timeTable.Selected;
	}


	enum AccountBalanceTypeEnum
	{
		[Description("تسویه")]
		Settle,
		[Description("بدهکار")]
		Debtor,
		[Description("بستانکار")]
		Crediator
	}
	public static string GetDescription(Enum value)
	{
		var fieldInfo = value.GetType().GetField(value.ToString());
		var attribute = (DescriptionAttribute)Attribute.GetCustomAttribute(fieldInfo, typeof(DescriptionAttribute));
		return attribute != null ? attribute.Description : value.ToString();
	}

	private (int ShehriehTerm, Dictionary<string, int> payments, AccountBalanceTypeEnum status, int Diff) AccountStatis(ShokouhPardisTimeTable timeTable)
	{
		var levelBookPrice = _dataProvider.GetLevelBookPrice(timeTable);
		var shahriehTerm = levelBookPrice.TuitionAmount;
		var djvs = _dataProvider.GetDailyJvBy(timeTable.TermId, Student.Id);
		var payments = djvs
							.GroupBy(x => x.FeeFor!)
							.ToDictionary(x => x.Key, y => y.Sum(z => z.Fee));
		var _status = AccountBalanceTypeEnum.Settle;
		int diff = shahriehTerm;
		if (payments.TryGetValue("شهریه", out var payedShahrieh))
		{
			diff = shahriehTerm - payedShahrieh;
			_status = diff switch
			{
				0 => AccountBalanceTypeEnum.Settle,
				> 0 => AccountBalanceTypeEnum.Debtor,
				_ => AccountBalanceTypeEnum.Crediator
			};
		}
		else
		{
			_status = AccountBalanceTypeEnum.Debtor;
		}
		return (shahriehTerm, payments, _status, diff);
	}


	private Color GetColor(AccountBalanceTypeEnum accStatusStatus)
	{
		return accStatusStatus switch
		{
			AccountBalanceTypeEnum.Settle => Color.Success,
			AccountBalanceTypeEnum.Debtor => Color.Error,
			AccountBalanceTypeEnum.Crediator => Color.Warning
		};
	}

	private string? GetFeeForStyle(string value)
	{
		var color = "#08714a";
		var opa = "";
		switch (value)
		{
			case "شهریه":
				opa = "ff";
				break;
			case "کتاب":
				opa = "80";
				break;
			default:
				opa = "99";
				break;
		}

		return "background-color:" + color + opa + ";color:#ffffff";
	}

}
<style>
	.selected {
		background-color: #505050 !important;
	}

		.selected > td {
			color: white !important;
		}
</style>

<MudTable @ref="_studentTables" Items="@studentHisory.OrderByDescending(x=>x.TermId)"
		  RowsPerPage="100" RowClassFunc="RowClassFunc" Hover="true" Dense="true">
	<HeaderContent>
		<MudTh>زبان آموز</MudTh>
		<MudTh>ترم</MudTh>
		<MudTh>مدرس</MudTh>
		<MudTh>سطح</MudTh>
		<MudTh>ساعت برگزاری</MudTh>
		<MudTh>حساب</MudTh>
		<MudTh>پرداخت</MudTh>

	</HeaderContent>
	<RowTemplate>
		<MudTd >@Student.FullName</MudTd>
		<MudTd DataLabel="ترم">
			<MudChip Label="true" OnClick="() => RaiseOnTermChangedClick(context.Term)">@context.Term.TermName</MudChip>
			</MudTd>
			<MudTd DataLabel="نام استاد">@context.Teacher.FullName</MudTd>
			<MudTd DataLabel="سطح">@context.Level.LevelName</MudTd>
			<MudTd>
				@{
				var accStatus = AccountStatis(context);

				<MudChip Label="true" Color="Color.Dark" Size="Size.Small">
					شهریه ترم
					<MudChip Size="Size.Small" Color="Color.Tertiary">@accStatus.ShehriehTerm.ToString("N0") تومان</MudChip>
				</MudChip>
				<MudText Typo="Typo.body1">پرداختی ها :</MudText>
				@foreach (var x in accStatus.payments)
				{
					<MudChip Label="true" Color="Color.Dark" Size="Size.Small">
						پرداختی بابت @x.Key
						<MudChip Style="@GetFeeForStyle(x.Key)">@x.Value تومان</MudChip>
					</MudChip>
				}

				<MudText Typo="Typo.body1">وضعیت حساب :</MudText>
				<MudChip Label="true" Color="Color.Dark" Size="Size.Small">
					در ترم @context.Term.TermName شهریه
					@if (accStatus.Diff != 0)
					{
						<text>به مبلغ</text>
						<MudChip Color="Color.Info">@accStatus.Diff.ToString("N0") تومان</MudChip>
					}
					<MudChip Color="GetColor(accStatus.status)">@GetDescription(accStatus.status)</MudChip>
					است
				</MudChip>
				}
		</MudTd>
		<MudTd DataLabel="برنامه کلاسی">@context.Schedule.Title</MudTd>
			<MudTd>
				<MudButton Variant="Variant.Filled" OnClick="()=>RowDetaileClick(context)">جزئیات پرداخت ترم</MudButton>
			</MudTd>
		</RowTemplate>
		<ChildRowContent>
			@if (context.Selected)
		{
			<MudTr>
				<td colspan="6">

					<MudCard Outlined="true" Class="m-3 p-3" Style="background-color:#808080">
						<MudCardContent>
							<DailyJvRecordListComponent ShowRecordId="true" SelectedTerm="context.Term" Student="Student" />
						</MudCardContent>
					</MudCard>
				</td>
			</MudTr>
		}
	</ChildRowContent>
</MudTable>



