@using HaveshApp.Admin.Components
@using Havesh.Model.Model
<h3>UserDialog</h3>

<MtnDialog>
    <ChildComponent>
        <MudGrid>
            <MudItem md="12">
                <MudSwitch @bind-Checked="@User.Gender" ThumbIcon="@Icons.Material.Filled.Girl" Color="Color.Info" UnCheckedColor="Color.Error" ThumbIconColor="Color.Default">
                    @if (User.Gender is false)
                    {
                        <MudText Typo="Typo.caption" Color="Color.Error">
                            خانم
                        </MudText>
                    }
                    else if (User.Gender is true)
                    {
                        <MudText Typo="Typo.caption" Color="Color.Info">
                            آقا
                        </MudText>

                    }
                </MudSwitch>
            </MudItem>
            <MudItem md="6">
                <MudTextField @bind-Value="User.FirstName" Label="First Name"/>
            </MudItem>
            <MudItem md="6">
                <MudTextField @bind-Value="User.LastName" Label="Last Name"/>
            </MudItem>
            <MudItem md="6">
                <MudTextField @bind-Value="User.UserName" Label="User Name"/>
            </MudItem>
            <MudItem md="6">
                <MudTextField @bind-Value="User.Password" Label="User Password"/>
            </MudItem>
            <MudItem md="6">
                <MudTextField @bind-Value="User.Email" Label="Email"/>
            </MudItem>
            <MudItem md="6">
                <MudCheckBox @bind-Checked="User.IsActive" Label="Active"></MudCheckBox>
            </MudItem>

        </MudGrid>



    </ChildComponent>
    <DialogAction>

        <MudButton Color="@Color.Success" StartIcon="@Icons.Material.Filled.Save"
                   Variant="@Variant.Filled" OnClick="SaveDialogClick">
            Save
        </MudButton>


        <MudButton Color="Color.Warning" StartIcon="@Icons.Material.Filled.Close" Variant="Variant.Text"
                   OnClick="CloseDialogClick">
            Close
        </MudButton>
    </DialogAction>
</MtnDialog>
@code {

    [Parameter]
    public User User { get; set; }

    [CascadingParameter]
    MudDialogInstance DialogInstance { get; set; }
    [Inject] ISnackbar Snackbar { get; set; }
    [Inject] public DataProviderService DataProvider { get; set; }
    private void CloseDialogClick()
    {
        DialogInstance.Close();

    }

    private void SaveDialogClick()
    {
        User.BCode = "001";
        DataProvider.SaveUser(User);

        DialogInstance.Close();
    }

}
