@using HaveshApp.Classes


<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <MudText Typo="Typo.caption" Color="Color.Default" GutterBottom="true">
                        Authorizing
                    </MudText>
                </Authorizing>
                <NotAuthorized>
                    <MudContainer Class="mt-16">
                    
                        <MudGrid Class="mt-8">
                            <MudItem xs="12" sm="12" md="4">

                                <MudCard Elevation="25" Class="rounded-lg pb-4">
                                    <MudCardHeader Typo="Typo.h5" Align="Align.Center">
                                        ورود به سیستم
                                    </MudCardHeader>
                                    <MudCardContent>
                                        <div class="d-flex justify-center">
                                            <MudText Typo="Typo.h5">اگر نام کاربری و رمز عبور دارید لطفا وارد شوید.</MudText>
                                        </div>
                                        <MudList Class="mx-auto mt-4" Style="width:300px;">
                                            <MudListItem IconColor="Color.Info" Icon="@Icons.Material.Filled.CastForEducation">
                                                حضور و غیاب
                                            </MudListItem>
                                            <MudListItem IconColor="Color.Success" Icon="@Icons.Material.Filled.StarRate">
                                                نمره دهی آنلاین
                                            </MudListItem>
                                            <MudListItem IconColor="Color.Warning" Icon="@Icons.Material.Filled.HistoryEdu">
                                                عملکرد آموزشی
                                            </MudListItem>
                                            <MudListItem IconColor="Color.Error" Icon="@Icons.Material.Filled.VerifiedUser">
                                                عملکرد انضباطی
                                            </MudListItem>
                                        </MudList>
                                    </MudCardContent>
                                    <MudCardActions Class="d-flex justify-center">
                                        <MudButton Color="Color.Error" StartIcon="@Icons.Material.Filled.Login" Variant="Variant.Filled" Href="/LoginPage">
                                            ورود
                                        </MudButton>
                                    </MudCardActions>
                                </MudCard>
                            </MudItem>
                            <MudItem xs="12" sm="12" md="4">

                                <MudCard Elevation="25" Class="rounded-lg pb-4">
                                    <MudCardHeader Typo="Typo.h5" Align="Align.Center">
                                        وب سایت آکادمی تخصصی هاوِش
                                    </MudCardHeader>
                                    <MudCardContent>
                                        <div class="d-flex justify-center">
                                            <MudText Typo="Typo.h5">وب سایت آکادمی تخصصی هاوِش  : اخبار، برنامه ها</MudText>
                                        </div>
                                        <MudList Class="mx-auto mt-4" Style="width:300px;">
                                            <MudListItem IconColor="Color.Info" Icon="@Icons.Material.Filled.Web">
                                                درباره آکادمی
                                            </MudListItem>
                                            <MudListItem IconColor="Color.Success" Icon="@Icons.Material.Filled.Description">
                                                برنامه های آکادمی
                                            </MudListItem>
                                            <MudListItem IconColor="Color.Warning" Icon="@Icons.Material.Filled.Newspaper">
                                                اخبار و برنامه ها
                                            </MudListItem>
                                            <MudListItem IconColor="Color.Error" Icon="@Icons.Material.Filled.ContactPhone">
                                                تماس با آکادمی
                                            </MudListItem>
                                        </MudList>
                                    </MudCardContent>
                                    <MudCardActions Class="d-flex justify-center">
                                        <MudButton Color="Color.Success" StartIcon="@Icons.Filled.Web" Variant="Variant.Filled" OnClick="WebsiteClick">
                                            ورود به وب سایت
                                        </MudButton>
                                    </MudCardActions>
                                </MudCard>
                            </MudItem>
                        </MudGrid>
                    </MudContainer>

                    
                    @* <WebPageComponent></WebPageComponent> *@
                    @* 
                    <MudCarousel Class="mud-width-full" Style="height:200px;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
                        <MudCarouselItem Transition="transition" Color="@Color.Primary">
                            <div class="d-flex" style="height:100%">
                                برای دیدن وب سایت رسمی آکادمی تخصصی هاوِش کلیک کنید
                                <MudButton Color="Color.Success" StartIcon="@Icons.Material.Filled.Web" Variant="Variant.Text" OnClick="WebsiteClick">
                                    وب سایت رسمی
                                </MudButton>

                            </div>
                        </MudCarouselItem>
                        <MudCarouselItem Transition="transition" Color="@Color.Secondary">
                            <div class="d-flex" style="height:100%">
                                وب سایت مدیریت آموزشی آکادمی تخصصی هاوِش

                                <MudButton Color="Color.Success" StartIcon="@Icons.Material.Filled.Web" Variant="Variant.Text" OnClick="MoreInfo">
                                    اطلاعات بیشتر
                                </MudButton>

                            </div>
                        </MudCarouselItem>
                        <MudCarouselItem Transition="transition">
                            <div class="d-flex" style="height:100%">
                                موبایل اپلیکیشن آموزش زبان انگلیسی بزودی ارائه میگردد

                                <MudButton Color="Color.Success" StartIcon="@Icons.Material.Filled.Web" Variant="Variant.Text" OnClick="AboutAppClick">
                                    اطلاعات بیشتر
                                </MudButton>

                            </div>
                        </MudCarouselItem>
                    </MudCarousel>
                   *@
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;
    
    [Inject] public BrowserService BrowserService { get; set; }

    private async Task WebsiteClick()
    {
        await BrowserService.OpenInNewTabAsync($"http://www.havesh.com");
    }

    private void MoreInfo()
    {
        throw new NotImplementedException();
    }

    private void AboutAppClick()
    {
        throw new NotImplementedException();
    }

}