@page "/DailyJVChart"
@using HaveshApp.Admin.DailyJV.Components
@using System.Globalization
@using DNTPersianUtils.Core
@using Havesh.Domain
@using Havesh.Model.Model
@using HaveshApp.Classes
<h3>DailyJVChart</h3>
<MudStack Class="pa">
    <MudCard Style="Width: 250px">
        <MudCardContent>
            <MudDatePicker @bind-Date="DateFrom"
                           Label="از تاریخ"
                           FirstDayOfWeek="DayOfWeek.Saturday"
                           Culture="@GetPersianCulture()"
                           MaxDate="DateTime.Today"
                           TitleDateFormat="dddd, dd MMMM" />
            <MudSpacer></MudSpacer>
            <MudDatePicker @bind-Date="DateTo"
                           Label="از تاریخ"
                           FirstDayOfWeek="DayOfWeek.Saturday"
                           Culture="@GetPersianCulture()"
                           MaxDate="DateTime.Today"
                           TitleDateFormat="dddd, dd MMMM" />

        </MudCardContent>
    </MudCard>

</MudStack>
<MudButton Color="Color.Success" StartIcon="@Icons.Material.Filled.ShowChart" Variant="Variant.Text" OnClick="ShowChartClick">
    Show Chart
</MudButton>
@if (PaymentSeries is { Count: > 0 })
{
    <MudChart ChartType="ChartType.Bar" ChartOptions="ChartOp" ChartSeries="@PaymentSeries"
          @bind-SelectedIndex="Index"
          XAxisLabels="@XAxisLabels.ToArray()" Width="100%" Height="350px"></MudChart>
    <MudStack Row="true">
        <MudCard>
            <MudCardContent>
                @if (PaymentSeries?.FirstOrDefault(p => p.Name == PaymentTypeStatuses.Pos)?.Data is { })
            {
                <MudText Typo="Typo.h4" Color="Color.Info" GutterBottom="true">
                    جمع پوز :
                    @PaymentSeries.FirstOrDefault(p => p.Name == PaymentTypeStatuses.Pos).Data.Sum().NumberToText(Language.Persian) تومان
                </MudText>
                <MudSpacer/>
                <br/>
            }
                @if (PaymentSeries?.FirstOrDefault(p => p.Name == PaymentTypeStatuses.Cash)?.Data is { })
            {
                <MudText Typo="Typo.h4" Color="Color.Success" GutterBottom="true">
                    جمع نقد :
                    @PaymentSeries.FirstOrDefault(p => p.Name == PaymentTypeStatuses.Cash).Data.Sum().NumberToText(Language.Persian) تومان
                </MudText>
                <MudSpacer/>
                <br/>
            }
                @if (PaymentSeries?.FirstOrDefault(p => p.Name == PaymentTypeStatuses.Debit)?.Data is { })
            {
                <MudText Typo="Typo.h4" Color="Color.Warning" GutterBottom="true">
                    جمع واریز :
                    @PaymentSeries.FirstOrDefault(p => p.Name == PaymentTypeStatuses.Debit).Data.Sum().NumberToText(Language.Persian) تومان
                </MudText>
            }
            </MudCardContent>
        </MudCard>
    </MudStack>
    <MudChart ChartType="ChartType.Bar" ChartOptions="ChartOp" ChartSeries="@FeeForSeries"
          @bind-SelectedIndex="Index"
          XAxisLabels="@XAxisLabels.ToArray()" Width="100%" Height="350px"></MudChart>
    <MudStack Row="true">
        <MudCard>
            <MudCardContent>
                @if (FeeForSeries?.FirstOrDefault(p => p.Name == FeeForStatuses.Book)?.Data is {})
                {
                    <MudText Typo="Typo.h4" Color="Color.Error" GutterBottom="true">
                        جمع کتاب ها :
                        @FeeForSeries.FirstOrDefault(p => p.Name == FeeForStatuses.Book).Data.Sum().NumberToText(Language.Persian) تومان
                    </MudText>
                
                <MudSpacer/>
                    <br />
                }
            @if (FeeForSeries?.FirstOrDefault(p => p.Name == FeeForStatuses.TuitionAmount)?.Data is {})
            {
                <MudText Typo="Typo.h4" Color="Color.Warning" GutterBottom="true">
                    جمع شهریه:
                    @FeeForSeries.FirstOrDefault(p => p.Name == FeeForStatuses.TuitionAmount).Data.Sum().NumberToText(Language.Persian) تومان
                </MudText>
           
                <MudSpacer/>
                    <br />
                }
                @if (FeeForSeries?.FirstOrDefault(p => p.Name == FeeForStatuses.Final)?.Data is { })
            {
                <MudText Typo="Typo.h4" Color="Color.Tertiary" GutterBottom="true">
                    جمع فاینال:
                    @FeeForSeries.FirstOrDefault(p => p.Name == FeeForStatuses.Final).Data.Sum().NumberToText(Language.Persian) تومان
                </MudText>
           
                <MudSpacer/>
                <br/>
            }
                @if (FeeForSeries?.FirstOrDefault(p => p.Name == FeeForStatuses.Placement)?.Data is { })
            {
                <MudText Typo="Typo.h4" Color="Color.Info" GutterBottom="true">
                    جمع تعیین سطح:
                    @FeeForSeries.FirstOrDefault(p => p.Name == FeeForStatuses.Placement).Data.Sum().NumberToText(Language.Persian) تومان
                </MudText>
            
                <MudSpacer/>
                <br/>
            }
            @if (FeeForSeries.FirstOrDefault(p => p.Name == FeeForStatuses.PrivateClass).Data is {})
            {
                <MudText Typo="Typo.h4" Color="Color.Primary" GutterBottom="true">
                    جمع خصوصی:
                    @FeeForSeries.FirstOrDefault(p => p.Name == FeeForStatuses.PrivateClass).Data.Sum().NumberToText(Language.Persian) تومان
                </MudText>
            }
            </MudCardContent>
        </MudCard>
    </MudStack>

}
@code {

    List<ShokouhPardisWeekDay> days;
    private int Index = -1; //default value cannot be 0 -> first selectedindex is 0.
    public DateTime? DateFrom { get; set; }
    public DateTime? DateTo { get; set; }
    public List<string> XAxisLabels;//= { "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep" };

    public ChartOptions ChartOp { get; set; }
    public List<ChartSeries> FeeForSeries { get; set; }
    public string FeeForBind { get; set; }
    



    CultureInfo GetPersianCulture()
    {
        var culture = new CultureInfo("fa-IR");
        return culture;
    }


    public List<ChartSeries> PaymentSeries { get; set; }

    private void ShowChartClick()
    {
        ChartOp = new ChartOptions();

        var paymentResult = _dataProvider.GetDailyJvSeriesPaymentTypeByWeek(DateFrom.Value, DateTo.Value);
        PaymentSeries = paymentResult.Series;
        XAxisLabels = paymentResult.Labels;

        FeeForSeries = _dataProvider.GetDailyJvSeriesFeeForByWeek(DateFrom.Value, DateTo.Value).Series;
    }


}
