@page "/BillPrint/{DalyJVID:int}"
@using Blazor.QRCode
@using HaveshApp.Classes
@using DNTPersianUtils.Core
@using Havesh.Model.Model
@using Olive
@using PersianDate.Standard
@layout PrintLayout


<div class="col-md-12 persian-content" style="direction: rtl">
    <div class="row">

        <div class="col-xs-10 col-sm-10 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
            <div class="row">
                <div  style="float:right">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div>
                            @*<img class="img-responsive" alt="Shokouh Logo" src="https://shokouhpardis.ir/getdoc/67424c73-921a-4236-86f6-4e0ddf9861dc/shokouh-logo.aspx" style="width: 71px; border-radius: 43px;">*@
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9" style="text-align:center">
                        <div>
                            <h5>
                                آموزشگاه زبان انگلیسی شکوه
                                <br />
                                شعبه پردیس
                            </h5>
                            <br />
                            <h5>
                                آکادمی تخصصی
                                <br />
                                <b>هاوِش</b>
                            </h5>
                            <div >
                                
                                <p>پردیس جنب بانک پارسیان - 02176245989</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div>
                    <table class="table table-bordered" style="direction: rtl">
                
                        <tbody>
                        <tr>
                                
                            <td class="col-md-3">  زبان آموز: @("") @_djv.Student.StudentName @_djv.Student.StudentFamily </td>
                        </tr>
                        <tr>
                                <td class="col-md-3">
                                    @if (_pr is not null)
                                    {
                                    @("بابت:") @_djv.FeeFor @(" ترم ")  @_pr.Term.TermName  
                                    }
                                    else
                                    {
                                        @("بابت:")   @_djv.FeeFor @(" ترم ")  @_djv.Term.TermName
                                    }


                                </td>
                        </tr>
                        <tr>
                            <td class="col-md-3">
                                @if (_pr is not null)
                                {
                                    @("سطح: ")  @_pr.Level.LevelDes
                                }
                                else
                                {
                                    @("سطح: ")  @_djv.TimeTable.Level.LevelDes
                                }
                            </td>

                        </tr>
                            @if (!_djv.Description.IsEmpty())
                            {
                                <tr>
                                    <td>
                                        @_djv.Description
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div>
                   
                    <p>
                       مبلغ : @_djv.Fee.ToString("##,###") تومان
                        <br/>  @_djv.Fee.NumberToText(Language.Persian) تومان تمام
                    </p>
                </div>
            </div>



            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-12 text-left">
                    <div style="text-align:center">
                        <p>
                            <b>تاریخ صدور :</b>
                            @_djv.CurrentDate.ToFa("D")

                            <h4>با اسکن این کد میتوانید رسید خود را ذخیره نمایید.</h4>
                            <div class="QrCo" >
                                
                                <QrCode
                                    ElementId="id"
                                    Width="100"
                                    height="100"
                                    Text="@($"https://havesh.ir/bill?k={_djv.DailyJvguid}")">
                                </QrCode>

                            </div>


                            <h4>پرینت این قبض به منزله رسید پرداخت  @_djv.FeeFor می باشد.</h4>
                        </p>
                    </div>
                </div>



            </div>
            <br />

            @*  <div class="col-xs-12 col-sm-12 col-md-12">
            <div>
            <p>
            <div>
            <b>Website :</b>
            Havesh.ir
            </div>

            </p>
            <b>برای وارد شدن به سایت آموزشگاه شکوه پردیس با دوربین خود کادر زیر را اسکن کنید.</b>
            <img class="img-responsive" alt="QrCode" src="https://shokouhpardis.ir/getdoc/bb47907c-b911-4d5f-8be0-16f38a8c1fbd/qrcode.aspx" style="width: 71px;">

            </div>
            </div>*@


        </div>
    </div>
</div>

@code {
    string par = "شناسه پرداخت";
    string pos = "شناسه پوز";
    string tar = "تاریخ واریز";
    [Inject]
    DataProviderService DataProvider { get; set; }

    ShokouhPardisDailyJv _djv;
    PreRegistration? _pr ;
    
	[Parameter]
    public int DalyJVID
    {
        get => _dalyJvid;
        set
        {
            _dalyJvid = value;
            _djv = DataProvider.GetDailyJv(_dalyJvid);
            if (_djv.TimeTableFk is null)
            {
                _pr= _dataProvider.GetPreRegistrationByJv(_dalyJvid);
            }
        }
    }

    private int _dalyJvid;


    [Inject]
    public BrowserService BrowserService { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(1000);
            await PrintPage();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    async Task PrintPage()
    {
        await BrowserService.PrintPageAsync();
    }
}
