@page "/TeacherDefinition"
@using HaveshApp.Model
@using HaveshApp.Admin.Clone
@using HaveshApp.Services
@layout PersianPagesLayout

<h3>تعریف معلمین برای هر ترم</h3>
<MudText Typo="Typo.caption" Color="Color.Default" GutterBottom="true">
    تعریف مدرس در ترم
</MudText>

<TermSelectorComponent @bind-Term="SelectedTerm" Title="انتخاب ترم"> </TermSelectorComponent>

<MudTable Items="Teachers" 
          MultiSelection="true" 
          @bind-SelectedItems="SelectedTeachers"
          RowStyleFunc="RowStyleFunc">
    <ToolBarContent>
        <MudSpacer />
        <MudButton Color="Color.Success" StartIcon="@Icons.Filled.Add" Variant="Variant.Filled" OnClick="NewTeacherClick">
            مدرس جدید
        </MudButton>
        
  

    </ToolBarContent>
    <HeaderContent>
        <MudTh>نام</MudTh>
        <MudTh>نام خانوادگی</MudTh>
        <MudTd></MudTd>
        <MudTd></MudTd>
    </HeaderContent>
    <RowTemplate >
        <MudTd>@context.TeacherName</MudTd>
        <MudTd>@context.TeacherFamily</MudTd>
        <MudTd>@context.TeacherNationalId</MudTd>
        <MudTd>
            @if (context.UserId is not null)
            {
                <MudIcon Icon="@Icons.Filled.Person2" Color="Color.Primary"/>
            }
        </MudTd>
        <MudTd>
            <MudIconButton ButtonType="ButtonType.Button" Icon="@Icons.Filled.VerifiedUser" Size="Size.Small" OnClick="() => UserInfoClick(context)"></MudIconButton>
        </MudTd>
        <MudTd>
            <MudIconButton ButtonType="ButtonType.Button" Icon="@Icons.Filled.Edit" Size="Size.Small" OnClick="() => EditButtonClick(context)"></MudIconButton>
        </MudTd>
    </RowTemplate>
    <FooterContent>
        <MudButton Color="Color.Success" StartIcon="@Icons.Filled.Save" Variant="Variant.Filled" OnClick="SaveClick">
            ذخیره
        </MudButton>
    </FooterContent>
</MudTable>


