@page "/LessonPlanDefinition"
@using HaveshApp.Admin.Clone

@layout PersianPagesLayout

<h3>LessonPlan تعریف  </h3>

<LevelSelectorComponenet @bind-Level="SelectedLevel"></LevelSelectorComponenet>


<MudTable @ref="table"
          Hover="true"
          Breakpoint="Breakpoint.None"
          Items="LessonPlans"
          Style="background-color: #3c4043;">
    <ToolBarContent>
        <MudText Typo="Typo.h6">جدول لسن پلن</MudText>
        <MudSpacer />
        <MudButton Color="Color.Success" StartIcon="@Icons.Filled.Add" Variant="Variant.Text" OnClick="NewLessonPlanClick">
            اضافه کردن لسن پلن
        </MudButton>

    </ToolBarContent>
    <HeaderContent>
        <MudTh>SessionNumber</MudTh>
        <MudTh>Title</MudTh>
        <MudTh></MudTh>

    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.SessionNumber</MudTd>
        <MudTd>@context.Title</MudTd>


        <MudTd>
            <MudIconButton ButtonType="ButtonType.Button" Icon="@Icons.Filled.Edit" Size="Size.Small" OnClick="() =>EditButtonClick(context)"></MudIconButton>
        </MudTd>


    </RowTemplate>
    <ChildRowContent>
        <MudTr>
            <MudTd colspan="3">
                <SectionListComponent LessonPlan="@context"></SectionListComponent>
            </MudTd>
        </MudTr>
    </ChildRowContent>


</MudTable>
