@using ShokouhApp.Model

<MtnDialog>
    <ChildComponent>
      
            <h3>شماره جلسه @LessonPlan.SessionNumber  </h3>
            <h3> عنوان @LessonPlan.Title </h3>
            
            <MudTable @ref="table"
                      Hover="true"
                      Breakpoint="Breakpoint.None"
                      Items="Sections"
                      Style="background-color: #3c4043;">
                <ToolBarContent>
                  
                    <MudButton Color="Color.Success" StartIcon="@Icons.Filled.Add" Variant="Variant.Text" OnClick="NewSectionClick">
                      Add Section
                        </MudButton>

                </ToolBarContent>
                <HeaderContent>
                    <MudTh>SectionType</MudTh>
                    <MudTh>Title</MudTh>
                    <MudTh>Duration</MudTh>
                    <MudTh>SelectionObjective</MudTh>
                    <MudTh></MudTh>
                    <MudTh></MudTh>

                </HeaderContent>
                <RowTemplate Context="sec">
                <MudTd>@sec.SectionType </MudTd>
                    <MudTd>@sec.SectionTitle</MudTd>
                    <MudTd>@sec.Duration</MudTd>
                    <MudTd>@sec.SectionObjective</MudTd>

                    <MudTd>
                        <MudIconButton ButtonType="ButtonType.Button" Icon="@Icons.Filled.Edit" Size="Size.Small" OnClick="() => EditButtonClick(sec)"></MudIconButton>
                    </MudTd>
                    <MudTd>
                        <MudIconButton ButtonType="ButtonType.Button" Icon="@Icons.Filled.AddComment" Size="Size.Small" OnClick="() => AddSectionItemClick(sec)"></MudIconButton>
                    </MudTd>

                </RowTemplate>

                <PagerContent>
                    <MudTablePager />
                </PagerContent>

            </MudTable>

      
    </ChildComponent>
    <DialogAction>
        <MudButton Color="Color.Success" StartIcon="@Icons.Filled.Save" Variant="Variant.Filled" OnClick="SaveDialogClick">
            ذخیره
        </MudButton>

        <MudButton Color="Color.Warning" StartIcon="@Icons.Filled.Close" Variant="Variant.Text" OnClick="CloseDialogClick">
            بستن
        </MudButton>
    </DialogAction>
</MtnDialog>


